@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@foreach (var fact in Model.Facts)
{
    <div class="facts-container">
        <div class="row fact-padding">
            <div>
                <p class="fact-creator">@fact.CreatorName</p>
                @*rating*@
            </div>
            <div>
                <p>@fact.Context</p>
                @foreach (var tagName in fact.TagsNames)
                {
                    <span class="tags">@tagName</span>
                }
            </div>
        </div>
    </div>
}