@{
    ViewData["Title"] = "Facts";
}


<h1 class="centered">Facts</h1>
<h2 class="centered">Art</h2>

<div class="container">
    <div class="row">
        <p>...</p>
    </div>
    <div class="row">
        <p>...</p>
    </div>
    <div class="row">
        <p>...</p>
    </div>
    <div class="row">
        <p>...</p>
    </div>
    <div class="row">
        <p>...</p>
    </div>
</div>