@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="centered">
        Want to check out some facts? <br /> Want to waste some precious time? <br /> You are welcome.
    </h1>
</div>

<br />


<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3">
        @foreach (var theme in Model.Themes)
        {
            <div class="thumbnail">
                <a href="">
                    <img src="@Url.Action("GetThemeImage", "Themes", new {themeId = theme.ThemeId})" alt="Art theme">
                    <div class="caption">
                        <h3 class="centered">@theme.Name</h3>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

<div class="container">
    <div class="row">
        <p>...</p>
    </div>
    <div class="row">
        <p>...</p>
    </div>
    <div class="row">
        <p>...</p>
    </div>
    <div class="row">
        <p>...</p>
    </div>
    <div class="row">
        <p>...</p>
    </div>
</div>
