/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* QR code generator */
#qrCode {
    margin: 15px;
}

.topbar .navbar-search {
    width: 25rem;
}

    .topbar .navbar-search input {
        font-size: 0.85rem;
    }


.centered {
    text-align: center;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.whitebox {
    border: 5px solid black;
    padding: 30px;
    border-radius: 25px;
}

.fact {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 5px;
}

.tags {
    color: red;
}

.container {
    margin-top: 20px;
}
