/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* QR code generator */
#qrCode {
    margin: 15px;
}

.topbar .navbar-search {
    width: 25rem;
}

    .topbar .navbar-search input {
        font-size: 0.85rem;
    }


.centered {
    text-align: center;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.whitebox {
    border: 5px solid black;
    padding: 30px;
    border-radius: 25px;
}

/* Facts Page */

.fact {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 5px;
}

.fact-padding {
    border-top: 1px solid #eeeeee;
    padding: 5px;
}

.tags {
    border: 1px solid grey;
    border-radius: 20px;
    padding: 3px;
    color: grey;
}

.facts-container {
    margin-top: 20px;
}

.fact-creator {
    float: right;
}

.fact-context {
    float: left;
}

.box {
    position: relative;
    width: 100%; /* desired width */
}

    .box:before {
        content: "";
        display: block;
        padding-top: 100%; /* initial ratio of 1:1*/
    }

.content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    .content img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.ratio2_1:before {
    padding-top: 50%;
}

.ratio1_2:before {
    padding-top: 200%;
}

.ratio4_3:before {
    padding-top: 75%;
}

.ratio16_9:before {
    padding-top: 56.25%;
}
