@using Microsoft.AspNetCore.Http
@model FactOff.Models.ViewModels.FactsIndexViewModel
@{
    string loggedUserId = Context.Session.GetString("logeduser");
    ViewData["Title"] = "Index";
}
<div class="facts-container">
    @foreach (var fact in Model.Facts)
    {
        <div class="fact">
            <p class="fact-context">@fact.Context</p><p class="fact-creator">@fact.CreatorName</p><br /><br />
            @foreach (var tagName in fact.TagsNames)
            {
                <span class="tags">@string.Join(", ", tagName) </span>
            }
            @if (loggedUserId != null)
            {
                <input type="submit" value="Save" class="btn-save" />
            }
        </div>
        <br />
    }
</div>

