@model FactOff.Models.ViewModels.FactsIndexViewModel
@{
    ViewData["Title"] = "Index";
}
<div class="facts-container">
    @foreach (var fact in Model.Facts)
    {
        <div class="fact">
            <p class="fact-context">@fact.Context</p><p class="fact-creator">@fact.CreatorName</p>
            @foreach (var factTags in Model.Facts.Select(t => t.TagsNames))
            {
                <span class="tags">@string.Join(", ", factTags) </span>
            }
        </div>
        <br />
    }
</div>

